@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --app-bg: #2B2E43;
  --card-bg: #484C69;
  --text-color: #ffffff;
  --danger: #f04242;
  --success: #67bf67;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

html {
  font-size: 16px;
}

body {
  margin: 0 25rem;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
  background: var(--app-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#main-title {
  font-weight: 500;
}

.todo {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
}

.todo .todo-actions {
  display: flex;
  flex-direction: column;
}

.todo .todo-actions .todo-text-input {
  height: 2.5rem;
  border: none;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  outline: none;
  color: #000000;
}

.todo .todo-actions .add-todo {
  height: 2.5rem;
  border: none;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  background: var(--success);
  font-size: 1.2rem;
  font-weight: 500;
}

.todo .todo-items {
  box-sizing: border-box;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - (88px + 39px));
  overflow-y: auto;
}