@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --app-bg: #2B2E43;
  --card-bg: #484C69;
  --text-color: #ffffff;
  --danger: #f04242;
  --success: #67bf67;
}

html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-color);
}

body {
  margin: 0 15rem;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  background: var(--app-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  overflow-y: auto;
}