@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --main-bg: linear-gradient(to top, #4f4789, #5f5894);
  --btn-bg: #09618d;
  --btn-border: #00a5cf;
  --danger-color: #f6511d;
}

html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
}

body {
  margin: 0 15rem;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  background: var(--main-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  overflow-y: auto;
}